{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
  <h1 class="display-4">Contact Us</h1>
  <p class="lead">This is the mockup page where you can find our contact details.</p>
  <hr class="my-4">
  <p>Since I'm publishing this to a public Github repo, you'll just find some nice fake details here, enjoy.</p>
  <p>Phone Number: 0424400000</p>
  <p>Email Address: Joe.Blogs@gmail.com (I'm sorry Joe)</p>
  <p class="lead">
<!--     <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </p>
{% endblock %}